.satu {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    /* satuan "px" akan merubah ukuran seuai dengan ukuran yg kita tuliskan */
}

.dua {
    width: 100%;
    height: 200px;
    background-color: pink;
    /* satuan "%" akan membuat ukuran menyesuaikan wadahnya */
}

.tiga {
    width: 200px;
    height: 150px;
    background-color: lightblue;
    overflow: auto; 
    /*  
    valiue
    1. Visible (Default)
    2. auto (otomatis menambahkan scrol ketika wadahnya ditak cukup untuk menampung konten
    3. hidden (konten yg berlebih akan disembunyikan)
    4. scroll (akan memunculkan scroll)
    */
}